#navright{
text-align: right;
margin-left: 15%;
font-size: 1.1em;
}

#navbar-header{
margin-left: 2%;
font-size: 2em;
width: 30%;
}


#navbar-header img{
display:inline-block;
width: 12%;

}



body {
font-size: 1.3rem;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #fff;
background-color: #E10E49;
}


#about{

background-image: url(../images/5.jpg) no-repeat cover;
}

#about img{
width: 100%;
}



#box    {  width:100%;
height:100%;
box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
border-bottom:2px solid #fff;
border-right:2px solid #fff;
margin:5% auto 0 auto; 
background:url(/images/10.jpg);
background-size:cover;
border-radius:5px;
overflow:hidden;}

#overlay    {  background:rgba(0,0,0,.75);
text-align:center;
padding:45px 0 66px 0;
opacity:0;
-webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box:hover #overlay {
opacity:1;}

#plus       {  font-family:Helvetica;
font-weight:900;
color:rgba(255,255,255,.85);
font-size:96px;}





.cd-title {
position: relative;
height: 80px;
line-height: 80px;
text-align: center;
}
.cd-title h1 {
font-size: 2rem;
}

.cd-filter, .cd-intro {
width: 90%;
text-align: center;
}

.cd-intro {
margin: 2em auto;
}

.cd-filter {
margin: 0 auto;
text-align: center;
}
.cd-filter li {
position: relative;
display: inline-block;
margin: 0;
}
.cd-filter input {
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.cd-filter input:checked + label {
border-color: #e6d925;
color: rgba(255, 255, 255, 1);
}
.cd-filter label {
border-color: #e10e49;
border-style: solid;
border-width: 0 0 2px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
display: inline-block;
margin: 0;
padding: 0.4em 0.6em;
}
.cd-filter label:hover {
border-color: rgba(255, 255, 255, 0.7);
}

.cd-headline {
font-size: 5rem;
font-weight: 300;
line-height: 1;
}

.cd-words-wrapper {
display: inline-block;
position: relative;
text-align: left;
}
.cd-words-wrapper b {
display: inline-block;
position: absolute;
white-space: nowrap;
left: 0;
top: 0;
}
.cd-words-wrapper b.is-visible {
position: relative;
}

/* -------------------------------- 

xscale 

-------------------------------- */
.cd-headline.scale i {
display: inline-block;
opacity: 0;
transform: scale(0);
}
.is-visible .cd-headline.scale i {
opacity: 1;
}
.cd-headline.scale i.in {
animation: scale-up 0.6s forwards;
}
.cd-headline.scale i.out {
animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
transform: scale(1);
opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
opacity: 1;
}

@keyframes scale-up {
0% {
transform: scale(0);
opacity: 0;
}
60% {
transform: scale(1.2);
opacity: 1;
}
100% {
transform: scale(1);
opacity: 1;
}
}
@keyframes scale-down {
0% {
transform: scale(1);
opacity: 1;
}
60% {
transform: scale(0);
opacity: 0;
}
}



