body {
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #fff;
  background-color: #E10E49;
}

.cd-title {
  position: relative;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.cd-title h1 {
  font-size: 2rem;
}

.cd-filter, .cd-intro {
  width: 90%;
  text-align: center;
}

.cd-intro {
  margin: 2em auto;
}

.cd-filter {
  margin: 0 auto;
  text-align: center;
}
.cd-filter li {
  position: relative;
  display: inline-block;
  margin: 0;
}
.cd-filter input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.cd-filter input:checked + label {
  border-color: #e6d925;
  color: rgba(255, 255, 255, 1);
}
.cd-filter label {
  border-color: #e10e49;
  border-style: solid;
  border-width: 0 0 2px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0.4em 0.6em;
}
.cd-filter label:hover {
  border-color: rgba(255, 255, 255, 0.7);
}

.cd-headline {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1;
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}

/* -------------------------------- 

xscale 

-------------------------------- */
.cd-headline.scale i {
  display: inline-block;
  opacity: 0;
  transform: scale(0);
}
.is-visible .cd-headline.scale i {
  opacity: 1;
}
.cd-headline.scale i.in {
  animation: scale-up 0.6s forwards;
}
.cd-headline.scale i.out {
  animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
  transform: scale(1);
  opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
  opacity: 1;
}

@keyframes scale-up {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-down {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  60% {
    transform: scale(0);
    opacity: 0;
  }
}
