#navright{
text-align: right;
margin-left: 15%;
font-size: 1.1em;
}

#navbar-header{
margin-left: 2%;
font-size: 2em;
width: 30%;
}


#navbar-header img{
display:inline-block;
width: 12%;

}



body {
font-size: 1.3rem;
font-family: 'Roboto', sans-serif;
font-weight: 400;
color: #fff;
background-color: #E10E49;
}

video {
    width: 100%;
    height: auto;
}


#about{
  background: rgba(0,0,0,9);

/*background: url(../images/5.jpg) no-repeat;*/
background-size: cover;
/*position: fixed;*/
}

#about img{
width: 100%;
}


/*
==============================
 about section members
================================
 */


@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1500 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}

.snip1500 *,
.snip1500 *:before,
.snip1500 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}

.snip1500 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1500 figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 10px 10px;
  opacity: 0;
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
  transform: rotate(45deg) translate(-50%, -50%);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.snip1500 figcaption:before,
.snip1500 figcaption:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

.snip1500 figcaption:before {
  top: 0;
  left: 10px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.snip1500 figcaption:after {
  bottom: 0;
  right: 10px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.snip1500 figcaption div:before,
.snip1500 figcaption div:after {
  width: 2px;
  height: 300px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}

.snip1500 figcaption div:before {
  top: 10px;
  right: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

.snip1500 figcaption div:after {
  bottom: 10px;
  left: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

.snip1500 h2,
.snip1500 h4 {
  margin: 0;
  text-transform: uppercase;
}

.snip1500 h2 {
  font-weight: 400;
}

.snip1500 h4 {
  display: block;
  font-weight: 700;
  background-color: #ffffff;
  padding: 5px 10px;
  color: #000000;
}

.snip1500 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1500:hover img,
.snip1500.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.snip1500:hover figcaption,
.snip1500.hover figcaption {
  opacity: 1;
}

.snip1500:hover figcaption:before,
.snip1500.hover figcaption:before,
.snip1500:hover figcaption:after,
.snip1500.hover figcaption:after,
.snip1500:hover figcaption div:before,
.snip1500.hover figcaption div:before,
.snip1500:hover figcaption div:after,
.snip1500.hover figcaption div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.snip1500:hover figcaption:before,
.snip1500.hover figcaption:before,
.snip1500:hover figcaption:after,
.snip1500.hover figcaption:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}



/*
==============END================
*/




#box    {  
width:100%;
height:auto;
box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
border-bottom:2px solid #fff;
border-right:2px solid #fff;
margin:0 auto; 
/*background:url(../images/10.jpg);*/
/*background-position: fixed;
background-size:cover;*/
border-radius:5px;
overflow:hidden;}

#overlay    {  
background:rgba(0,0,0,.75);
text-align:center;
/*padding:45px 0 66px 0;*/
opacity:0;
-webkit-transition: opacity .25s ease;
-moz-transition: opacity .25s ease;}

#box:hover #overlay {
opacity:1;}

#plus       {  
font-family:Helvetica;
font-weight:900;
color:ghostwhite;
font-size:96px;}

#plus h4{
  color:ghostwhite;
}



.cd-title {
position: relative;
height: 80px;
line-height: 80px;
text-align: center;
}
.cd-title h1 {
font-size: 2rem;
}

.cd-filter, .cd-intro {
width: 90%;
text-align: center;
}

.cd-intro {
margin: 2em auto;
}

.cd-filter {
margin: 0 auto;
text-align: center;
}
.cd-filter li {
position: relative;
display: inline-block;
margin: 0;
}
.cd-filter input {
position: absolute;
left: 0;
top: 0;
opacity: 0;
}

.cd-filter input:checked + label {
border-color: #e6d925;
color: rgba(255, 255, 255, 1);
}
.cd-filter label {
border-color: #e10e49;
border-style: solid;
border-width: 0 0 2px;
color: rgba(255, 255, 255, 0.7);
cursor: pointer;
display: inline-block;
margin: 0;
padding: 0.4em 0.6em;
}
.cd-filter label:hover {
border-color: rgba(255, 255, 255, 0.7);
}

.cd-headline {
font-size: 5rem;
font-weight: 300;
line-height: 1;
}

.cd-words-wrapper {
display: inline-block;
position: relative;
text-align: left;
}
.cd-words-wrapper b {
display: inline-block;
position: absolute;
white-space: nowrap;
left: 0;
top: 0;
}
.cd-words-wrapper b.is-visible {
position: relative;
}

/* -------------------------------- 

xscale 

-------------------------------- */
.cd-headline.scale i {
display: inline-block;
opacity: 0;
transform: scale(0);
}
.is-visible .cd-headline.scale i {
opacity: 1;
}
.cd-headline.scale i.in {
animation: scale-up 0.6s forwards;
}
.cd-headline.scale i.out {
animation: scale-down 0.6s forwards;
}

.no-csstransitions .cd-headline.scale i {
transform: scale(1);
opacity: 0;
}

.no-csstransitions .cd-headline.scale .is-visible i {
opacity: 1;
}

@keyframes scale-up {
0% {
transform: scale(0);
opacity: 0;
}
60% {
transform: scale(1.2);
opacity: 1;
}
100% {
transform: scale(1);
opacity: 1;
}
}
@keyframes scale-down {
0% {
transform: scale(1);
opacity: 1;
}
60% {
transform: scale(0);
opacity: 0;
}
}



